.circles {
  height: 120vmin;
  position: absolute;
  width: 100%;

  >div {
    animation: growAndFade 4s infinite ease-out;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .circle1 {
    animation-delay: 0.2s;
  }

  .circle2 {
    animation-delay: 0.8s;
  }

  .circle3 {
    animation-delay: 1.4s;
  }

  .circle4 {
    animation-delay: 2s;
  }

  .circle5 {
    animation-delay: 2.6s;
  }

  .circle6 {
    animation-delay: 3.4s;
  }

  .circle7 {
    animation-delay: 4s;
  }

}

@keyframes growAndFade {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.loadings {
  height: 50vmin;
  position: absolute;
  width: 50vmin;

  >div {
    animation: growAndFade2 3s infinite ease-out;
    background-color: #b6a057;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .loading1 {
    animation-delay: 1s;
  }

  .loading2 {
    animation-delay: 2s;
  }

  .loading3 {
    animation-delay: 3s;
  }


}

@keyframes growAndFade2 {
  0% {
    opacity: 0.15;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background: linear-gradient(to top, black 0%, #171717 100%);
}

.object {
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 100px;
  }
}